.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.control {
  font-size: 3em;
  line-height: 2.2em;
  text-align: center;
  cursor: pointer;

  color: white;

  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.line-container {
  position: absolute;
}

.line {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
}
